ul {
    list-style: none;
    padding-left:0px;
    margin-left: 0px;
}

#articlesWrapper {
    text-align: center;
    padding-bottom: 25px;
    padding-top:20px;
}

.articleTitleWrapper {
    display: flex;
    flex-wrap: wrap;
}

.statsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.articleListCommentCount {
    padding-left: 15px;
}

.articleListVotes {
    padding-left: 15px;
}

.articleListWrapperfootball{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #cf1e1e;
    background-color: white;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-bottom-color: #f2efec;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:10px;
    margin-left:2%;
    margin-right: 2%;
    text-align: left;
}

.articleListWrapperfootball i {
    color:#cf1e1e;
    font-size: 24px;
}

.articleListWrappercoding{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #0079d3;
    background-color: white;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-bottom-color: #f2efec;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:10px;
    margin-left:2%;
    margin-right: 2%;
    text-align: left;
}

.articleListWrappercoding i {
    color: #0079d3;
    font-size: 24px;
}

.articleListWrappercooking{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #38d481;
    background-color: white;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-bottom-color: #f2efec;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:10px;
    margin-left:2%;
    margin-right: 2%;
    text-align: left;

}

.articleListWrappercooking i {
    color:#38d481;
    font-size: 24px;
}



.articleListTitle a {
    font-size: 22px;
    color:rgb(61, 61, 61);
    text-decoration: none;
}

.articleListTitle a:hover {
    font-size: 22px;
    color: #0c5085;
    text-decoration: none;
}


