#login {
    padding-top:15px;
    color: black;
    font-size: 14px;
}

#login button {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
    margin: 5px;
}

#login button:hover {
    background-color: #f2efec;
    color: black;
    border-style: solid;
    border-width: 2px;
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
    margin: 5px;
}

@media (max-width: 849px) {
        #login button {
            font-size: 12px;
        }
        #login button:hover {
            font-size:12px;
        }
}
