#login {
    padding-top:26px;
    color: black;
    font-size: 14px;
}

#login button {
    background-color: #0079d3;
    color: white;
    border-style: solid;
    border-width: 2px;
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    border-color: white;
}

#login button:hover {
    border-radius: 10px;
    background-color: #005494
}