#sortMenu {

    border-bottom-style: solid;
    border-bottom-color: grey;
    background-color: #f2efec;
    border-bottom-width: 1px;
}

#sortMenu select{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    background-color: white;
    border: 0px;
    border-style: none;
}

#sortMenu select option {
    background-color:  white;
}